body {
    background: #f5d9df;
}

#mainnavbar .navbar-brand {
    color: #ea1c2c;

}

#mainnavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainnavbar .nav-link {
    color: white;
}

#mainnavbar .nav-link:hover {
    color: #ea1c2c;
}

#de {
    margin-top: 50px;
}

#de span {
    color: #ea1c2c;
}

@media (max-width: 1200px) {
    #de h1 {
        font-size: 3rem;
        font-weight: 100;
    }
}