body {
    background: #f5d9df;
}

#mainnavbar .navbar-brand {
    color: #ea1c2c;

}

#mainnavbar a {
    font-size: 10px;

}

#mainnavbar .nav-link {
    color: white;
}

#mainnavbar .nav-link:hover {
    color: #ea1c2c;
}

#de {
    margin-top: 50px;
}

#de span {
    color: #ea1c2c;
}

@media (max-width: 1200px) {
    #de h1 {
        font-size: 3rem;
        font-weight: 100;
    }
}

@media (max-width: 700px) {
    h2 {
        font-size: calc(.5rem + .9vw) !important;
    }
}

#navLinks a {
    font-size: 10px;
}

@media (max-width: 700px) {
    #lead {
        font-size: 8px;
        font-weight: 100;
    }
}