h2 {
    color: blue;

    letter-spacing: 15px;
    display: inline-block;
    transition: 3s;

}

h1 {
    display: inline-block;
    margin: 0 auto;
    color: blue;


    text-align: center;
    font-weight: 20;
    text-decoration: wavy;
    letter-spacing: 15px;
    font-size: 70px;
    font-family: monospace;
}

button {
    color: lawngreen;
    background-color: blue;
    font-size: 20px;
    padding: 5px;

}


p {
    color: black;
    line-height: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;



}

body {

    background-color: lawngreen;
    font-family: Roboto, sans-serif;
    background-image: url("http://127.0.0.1:5500/image/download (2).jpeg");



}

form {
    color: black;
    background-color: rgb(0, 235, 252);
    display: inline;
}



#SPAIN {
    background-color: magenta;
    color: black;

}

a {

    color: blue;
    font-size: 20px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
}

/*Sibling Selector*/
/* h2~p, */
/*Ajacent Sibling Selector*/
h2+p {

    color: blue;
    display: inline-block;
}

/*Sibling Selector*/
/* h2~p {
    background-color: rgb(51, 173, 27);
    color: black;
}

h2~* {
    background-color: rgb(51, 173, 27);
    color: black;
} */

div>a {

    color: blue;
    display: inline-block;
}

input[type=password] {
    background-color: lightblue
}

a[href*=about] {

    color: blue;




}

button:hover {
    background-color: blue;
    color: lawngreen;
    font-size: 15px;
    transition: 1s;
    border-color: lawngreen;
    box-shadow: 1em 1em 1em lawngreen;

}

a[href*=about]:hover {

    color: lawngreen;
    background-color: blue;
    transition: 1s;
}

a:hover {
    background-color: blue;
    color: lawngreen;
    transition: 1s;
}

h1:hover {
    background-color: blue;
    color: lawngreen;
    transition: 1s;
}

#SPAIN:hover {
    background-color: black;
    color: magenta;
    transition: 1s;

    /* Light Blue #3c82ff
    Dark Blue #2d2aff
    Brown #ddb286 */
}

p:hover {
    text-decoration: underline;
    transition: 1s;
}

h2:hover {
    background-color: blue;
    color: lawngreen;
    margin-left: 400px;
    transition: 3s;


}

img:hover {
    -webkit-filter: drop-shadow(0 0 10px rgba(255, 0, 255, 0.5));
    -moz-filter: drop-shadow(0 0 10px rgba(255, 0, 255, 0.5));
    -o-filter: drop-shadow(0 0 10px rgba(255, 0, 255, 0.5));
    filter: drop-shadow(0 0 10px rgba(255, 0, 255, 0.5));




}

button:active {
    color: skyblue;
    background-color: magenta;
}

h1,
h2::first-letter {
    font-size: 50px;
}

p::selection {
    background-color: purple;
}

#Note {
    font-size: 30px;
}



#Henry {
    border: none;
}

nav>ul>li {
    display: inline;
}





#forms {
    padding-left: 100px;
}

#first {
    margin-bottom: 10px;
}

input {
    background-color: rgb(24, 166, 223)
}

#request {
    background-color: lawngreen;
}

#but {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

#but img {
    height: 60%;
    width: 60%;
}

#posi {
    position: fixed;
}

#skew {
    transform: skew(10deg, 5deg);
}



#tes {
    background-color: blue;
    height: 500px;
    width: 700px;
    text-align: center;
    display: flex;
    justify-items: center;
    flex-basis: 500px;
    flex-direction: column;
    align-items: flex-end;


}

#tes nav {
    width: 80px;
    height: 80px;
    background-color: yellow;
    margin: 9px;

}