h2 {
    color: magenta;
    background-color: black;
}

h1 {
    color: #ff00ff;
    background-color: black;
}

button {
    color: magenta;
    background-color: black;
}

p {
    color: black;
}

body {
    background-color: skyblue;

}

form {
    color: black;
    background-color: skyblue;
}